fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
supabase
langchain
langchain-google-genai
langchain-groq
langchain-community
PyMuPDF==1.25.1
faiss-cpu
python-multipart
httpx
langchain-text-splitters
gunicorn
SQLAlchemy
reportlab
python-socketio
websockets
