fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlmodel
httpx
python-dotenv
google-generativeai
groq
PyPDF2
pypdf
faiss-cpu
bcrypt<4.0.0
numpy
aiofiles
pydantic-settings
langchain
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
langchain-google-genai
